
body {
  background-color: #111; 
  color: #fff;
}

/* 영화 상세 정보를 담는 컨테이너 */
.movie-detail-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #222;
  border-radius: 10px;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap; /* 화면 크기에 따라 컨텐츠가 줄 바꿈을 할 수 있도록 함 */
  position: relative;
}

/* 영화 포스터 스타일 */
.movie-poster {
  width: 300px; 
  height: 400px; 
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

/* 영화 정보 영역 */
.movieInfo {
  color: #fff;
  margin-left: 20px;
  max-width: 800px; /* 영화 정보 영역의 최대 너비를 제한 */
  display: flex;
  flex-direction: column; /* 세로 방향으로 쌓이도록 설정 */
  justify-content: flex-start; /* 상단에 맞춰서 쌓이도록 설정 */
  overflow-y: auto; /* 내용이 넘칠 경우 스크롤 가능하도록 설정 */
}

/* 영화 제목 스타일 */
.movieInfo h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

/* 영화 줄거리 스타일 */
.movieInfo p {
  font-size: 16px;
  line-height: 1.6;
  color: #e0e0e0;
}

/* 강조된 텍스트 스타일 */
.movieInfo strong {
  color: #e50914; /* 넷플릭스 스타일 빨간색 */
  font-weight: bold;
}

/* 영화 정보의 평점, 인기도 스타일 */
.movieInfo .rating,
.movieInfo .popularity {
  margin-top: 10px;
  font-size: 18px;
}

.back-button {
  position: absolute;
  bottom: 20px;  /* 컨테이너 기준 아래 여백 */
  right: 20px;   /* 컨테이너 기준 오른쪽 여백 */
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

.back-button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}