.custom-search {
  background-color: #0b0b0b; /* 어두운 배경 */
  color: white; /* 텍스트 색상 */
  border: 0.8px solid rgb(220, 53, 69); /* Bootstrap의 primary 색상 */
}

.custom-search::placeholder {
  color: rgba(215, 130, 130, 0.6); /* 플레이스홀더 글자색 */
}

.navbar {
  height: 60px; /* 원하는 높이로 조정 */
  padding: 5px 10px; /* 내부 여백 조정 */
}

/* 화면 너비가 md(768px) 이하일 때 높이 자동 조정 */
@media (max-width: 768px) {
  .navbar {
    height: auto; /* 높이 자동 조정 */
    padding: 10px; /* 작은 화면에서는 여백을 넉넉하게 */
  }
}
#p-name-wrapper {
  display: flex;
  align-items: center;
}
#p-name {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 0;
  margin-right: 5px;
  text-shadow: 2px 2px 4px rgba(255, 0, 25, 0.6);
}
