.banner {
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.banner-detail {
  margin-left: 25px;
  margin-bottom: 80px;
}

.banner-detail p {
  width: 700px;
}

.roboto-banner-font-light {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.roboto-banner-font-bold {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
